In [17]:
# Library for using MongoDB
import pymongo

In [18]:
# Creating a connection 
dbConn = pymongo.MongoClient('localhost',27017)

In [19]:
# Creating a database
dbname = 'demoDB'
db=dbConn[dbname]

In [23]:
# Printing all the databases 
print(dbConn.list_database_names())

['Employee', 'Testing', 'admin', 'config', 'local']

Now you are unable to see the name of your database.
Create a collection and add to it.

## Create Table

In [29]:
# Creating a collection : Table
collection_name='mongo_demo'
collection=db[collection_name]

### Insert Single Record

MongoDB database stores data in JSON format.<br>
Or we can say in <b>{Key:Value}</b> Pairs

In [30]:
# Creating a record : Row
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [31]:
x = collection.insert_one(my_row)  # inserting record into the collection

In [38]:
x.inserted_id #Unique Object ID

ObjectId('5eaee514d26c745f24f7d61a')

In [33]:
print(dbConn.list_database_names())

['Employee', 'Testing', 'admin', 'config', 'demoDB', 'local']

Now you can see there is our database.

In [34]:
# check if the databse exists in mongoDB
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'

if db_name not in dblist:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [35]:
# checking if a collection exists
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

### Insert Multiple Records

In [40]:
# inserting multiple rows once
# Provide the list of dictionaries 
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [41]:
# inserting records into the collection 
x = collection.insert_many(my_rows)

In [44]:
# printing the unique id for insert
print(x.inserted_ids)

[ObjectId('5eaeec7dd26c745f24f7d61b'), ObjectId('5eaeec7dd26c745f24f7d61c'), ObjectId('5eaeec7dd26c745f24f7d61d'), ObjectId('5eaeec7dd26c745f24f7d61e'), ObjectId('5eaeec7dd26c745f24f7d61f')]

In [55]:
# retieving all the records from collection
result= collection.find({})

In [56]:
#Returns the cursor object 
result

In [57]:
# Give the index to print values or use loop

for i in result:
    print(i)
    print("-------------------")

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
-------------------
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
-------------------
{'_id': ObjectId('5eaeec7dd26c745f24f7d61c'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
-------------------
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
-------------------
{'_id': ObjectId('5eaeec7dd26c745f24f7d61e'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
-------------------
{'_id': ObjectId('5eaeec7dd26c745f24f7d61f'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
-------------------

### Concept of Limit 

Select only limited number of rows to print.

In [58]:
result= collection.find({}).limit(2)
for i in result:
    print(i)

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

Select only limited number of columns

In [59]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}).limit(5) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61c'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61e'), 'GRE Score': '334', 'TOEFL Score': '119'}

## Working on the columns with condition.

SELECT *from TABLENAME WHERE CONDITION

In [60]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61f'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [64]:
my_db_query={'GRE Score':{'$gt':'100'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61c'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61e'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61f'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [65]:
# we can sort the above results as well, this has been sorted in ascending order

result_GRE= collection.find(my_db_query).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('5eaeec7dd26c745f24f7d61e'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61c'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61f'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [66]:
# we can sort the above results as well, this has been sorted in ascending order
# Ascending order
result_GRE= collection.find(my_db_query).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5eaee514d26c745f24f7d61a'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61b'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61d'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61f'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61c'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eaeec7dd26c745f24f7d61e'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [67]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

We have succesfully deleted one row/record from the collection.

Similarly, for deleting multiple rows, we can use **collection.delete_many(my_deb_query)**

For deleting all documents of a collection, we can use **collection.delete_many({})**

In [69]:
# For dropping an entire collection
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
collection_to_drop.drop()

In [70]:
# updating the values present in collection

update_criteria={'GRE Score':'340'}
new_values= { "$set": { "GRE Score": "350" } }

x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

0

We have updated the nine columns with GRE Score 340 with GRE Score 350.

Similarly, we can update only one row by using the function **update_one(update_criteria, new_values)**